
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
  padding-top: 50px;
}
nav {
    top: 0;
    left: 0;
}
.popup-wrapper {
    max-height: 300px;
    overflow: auto;    
}

.navbar-brand .highlight {
    color: #71c4e0;
    font-weight: bold;
}

#map {
    overflow: hidden;
    height: 100%;
    width: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dropTarget {
	position: relative;
	margin: 1em 1em 0 0;
	z-index: 200;
	pointer-events: visible;
}

.dropTarget:hover {
border: 1px dashed #454545;
}