---

---
<!DOCTYPE html>
<html>
<head>
    <title>Mapzai BETA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <link rel="stylesheet" href="/css/leaflet-sidebar.css" />
    <link rel="stylesheet" href="/css/leaflet.draw.css" />

    <link rel="stylesheet" href="/css/mapzai.css" />
    {% include partials/google.apps.html %}
</head>
<body>

{% include partials/navbar.html %}
  <div id="map"></div>

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="/js/leaflet-sidebar.js"></script>
    <script src="/js/leaflet.draw.js"></script>
    <script src="/js/leaflet.ajax/leaflet.ajax.min.js"></script>
    <script src="/js/mapzai.js"></script>
    <script src="/js/mapzai.dnd.js"></script>
</body>
</html>
