<!-- Google apps integration -->
<meta name="google-signin-client_id" content="97533581083-rmktp5j20eu53ohuan9iidugfko0i40r.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
// taken from https://developers.google.com/identity/sign-in/web/sign-in
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());

  updateUserNav(profile);
}

function userLogout() {
	console.log(googleUser.disconnect());
	updateUserNav(null);
}

function updateUserNav(profile) {
	userNav = document.getElementById("mz-user-name-title");

	// If the user is null, update the text
	if (profile == null) {
		userNav.innerHTML = 'Sign-in';
	}
	// Otherwise, update with the profile info
	else {
		userNav.innerHTML = '' + profile.getName();		
	}
}
// This sample assumes a client object has been created.
// To learn more about creating a client, check out the starter:
//  https://developers.google.com/+/quickstart/javascript
gapi.client.load('plus','v1', function(){
 var request = gapi.client.plus.people.get({
   'userId': 'me'
 });
 request.execute(function(resp) {
   console.log('Retrieved profile for:' + resp.displayName);
 });
});

</script>